## Configuracion de Instancia
server:
  port: 8082
  error:
    include-stacktrace: on_param

## Configuracion de Spring
spring:
  application:
    name: ms-books-payments
  datasource:
    url: jdbc:h2:mem:testdb
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

## Swagger
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  info:
    title: Microservicio operador relatos de papel.
    version: 1.0.0
    description: El microservicio de gestion de pagos del sistema relatos de papel. Encargado de gestionar los pagos de los libros adquiridos por los usuarios.
    contact:
      name: Grupo 5 equipo de desarrollo.

## Configuracion del cliente de Eureka
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: ms-books-payments

## Configuracion secundaria (custom)
getBook:
  url: http://ms-books-catalogue/books/%s


